@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

html {
    scroll-behavior: smooth;
}

.banner {
    background-image: url(img/header.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding-top: 20%;
    color: #fff;
}

#layanan span {
    display: inline-block;
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #dc3545;
    color: #fff;
}

i {
    font-size: 50px;
    font-weight: bold;
}

.img-crop {
    object-fit: cover;
}

.social {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #333;
    text-align: center;
    color: #fff;
}

.social:hover {
    background-color: blueviolet;
    color: #fff;
}

/* dropdown up */
.positioning {
    margin-left: 80%;
}

.up {
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.muncul {
    opacity: 1;
}



/* scroll animations */


.fade-left {
    animation: fadeInleft 1.2s both;
}

@keyframes fadeInleft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

.fade-right {
    animation: fadeInright 1.2s both;
}

@keyframes fadeInright {
    0% {
        opacity: 0;
        -webkit-transform: translateX(50px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

.fade-top {
    animation: fadeIntop 5s both;
}

@keyframes fadeIntop {
    0% {
        opacity: 1;
        -webkit-transform: translateY(-50px);
        transform: rotateY(45deg);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: rotateY(0);
    }
}


.nnn {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(1fr, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    gap: 5;
}

.nnn::-webkit-scrollbar {
    width: 0;
}

@media (max-width: 560px) {
    .nnn {
        display: flex;
        overflow-x: auto;
    }

    /* -webkit-sc */
}